/*******************************************
  Mod HuurPrijs Css Jan 2014 
  Dayman Media 
  www.daymanmedia.nl info@daymanmedia.nl
*******************************************/


#bereken input {
    height: 32px;
    padding: 0 12px;
    width: 90%;
}

#bereken input::-webkit-input-placeholder {
   color: #fff;
}

#bereken input:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

#bereken input::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

#bereken input:-ms-input-placeholder {  
   color: #fff;  
}


.select {
  display: block;
  position: relative;
  overflow: hidden;
  background: white;
  border: 1px solid #d2e2e7;
  border-bottom-color: #c5d4d9;
  border-radius: 0;
  background-image: -webkit-linear-gradient(top, #fcfdff, #f2f7f7);
  background-image: -moz-linear-gradient(top, #fcfdff, #f2f7f7);
  background-image: -o-linear-gradient(top, #fcfdff, #f2f7f7);
  background-image: linear-gradient(to bottom, #fcfdff, #f2f7f7);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
}
.select:before, .select:after {
  content: '';
  position: absolute;
  right: 11px;
  width: 0;
  height: 0;
  border-left: 3px outset transparent;
  border-right: 3px outset transparent;
}
.select:before {
  top: 10px;
  border-bottom: 3px solid #7f9298;
}
.select:after {
  top: 16px;
  border-top: 3px solid #7f9298;
}
.select > select {
  position: relative;
  z-index: 2;
  width: 112%;
  height: 33px;
  line-height: 17px;
  padding: 5px 9px;
  padding-right: 0;
  background: transparent;
  background: rgba(0, 0, 0, 0);
  border: 0;
  -webkit-appearance: none;
}
.select > select:focus {
  color: #4d5a5e;
  outline: 0;
}

label.select {
    margin-bottom: 11px;
}


#result {
    margin-top: 11px;
}